img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 100%;
  height: auto;
}
img.logo {
  width: 150px;
}
img.icon {
  width: 50px;
}

p {
    background-color: aqua;
}
h1 {
    background-color: brown;
}
body {
    background-color: powderblue;
  }
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  background-image: url('/images/site/banner_image.jpg');
  background-size: 100%;
  color: white;
  font-size: 30px;
}
.footer {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
#next {
  text-align: center;
  border: 1px solid black;
}