/* main styling container*/
.flex-container {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 4px;

}
/*styling for navigation. White on green for maximum contrast.*/
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: 60%;
  padding: 10px;
  margin: 10px;
  background-color: #E6E6E6;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.nav-button {
  border: 1px solid #ddd;
  border-radius: 4px;
}

/*Flexible Box Gallery*/
.gallery-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-basis: 60%;
  padding: 10px;
  margin: 10px;
  background-color: #E6E6E6;
  border: 1px solid #ddd;
  border-radius: 4px;
}

img.gallery-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Inline image styling*/
img.body {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.logo {
  width: 150px;
}

img.icon {
  width: 50px;
}

/*header Styling*/
.header-heading {
  background-color: #909090;
}

.header {
  padding: 60px;
  text-align: center;
  background: #297373;
  background-image: url('images/site/banner_image.jpg');
  background-size: 100%;
  color: white;
  font-size: 15px;
  max-height: 200px;
}
 /*body styling*/
body {
  background-color: #909090;
  max-width: 90%;
  margin: auto;
}

/*footer styling*/
.footer {
  padding: 60px;
  text-align: center;
  background: #297373;
  color: white;
  font-size: 10px;
}

/*important events styling*/
.important {
  text-align: center;
  border: 1px solid black;
  width: 60%;
  margin: auto;
  padding: 10px;
  background-color: #FF8552;
  border-radius: 4px;
}

video {
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}